apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -prod

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: k8s-big-app
    path: patch-deployment.yaml
