apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-big-app
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: app
          env:
            - name: LOG_LEVEL
              value: "info"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
