apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-big-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: app
          env:
            - name: LOG_LEVEL
              value: "debug"
